:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* reset css */

body, h1, p, ul, li {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--lightgray);
    text-align: center;
}

#card {
    background-color: var(--white);
    padding: 1rem;
    width: 350px;
    border-radius: 8px;
    margin: 60px auto;
}

#card img {
    width: 100%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}