
/* Reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-blue: hsl(212, 86%, 64%);
    --primary-red: hsl(0, 78%, 62%);
    --primary-orange: hsl(34, 97%, 64%);
    --neutral-light-gray: hsl(0, 0%, 98%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-dark-blue: hsl(234, 12%, 34%);
    --w-light: 200;
    --w-regular: 400;
    --w-bold: 600;
    font-size: 15px;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--neutral-grayish-blue);
    background-color: var(--neutral-light-gray);
}

h1 {
  line-height: 1.5;
}

h2 {
  
}

.thin {
  font-weight: var(--w-light);
}

.bold {
  color: var(--neutral-dark-blue);
  font-weight: var(--w-bold);
}

main {
  max-width: 1280px;
  margin: 50px auto;
}

.title {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card2 card3"
    "card1 card4 card3";
  grid-gap: 20px;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0px 24px 38px -20px rgba(84, 158, 242, 0.3);
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.card-supervisor {
  grid-area: card1;
  align-self: center;
  border-top: 4px solid var(--primary-cyan);
}

.card-team {
  grid-area: card2;
  border-top: 4px solid var(--primary-red);
}

.card-karma {
  grid-area: card3;
  align-self: center;
  border-top: 4px solid var(--primary-orange);
}

.card-calculator {
  grid-area: card4;
  border-top: 4px solid var(--primary-blue);
}

.icon {
  width: 50px;
  align-self: flex-end;
}